[Unit]
Description=MySQL Database Proxy
After=network.target

[Service]
Restart=on-abort

# Make sure /var/lib/proxysql exists
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -d /var/run/proxysql -d /var/lib/proxysql -o proxysql -g proxysql
ExecStartPre=/usr/bin/rm -f /var/lib/proxysql/proxysql.db

PIDFile=/var/run/proxysql/proxysql.pid

# Use the default user and group
User=proxysql
Group=proxysql

ExecStart=/usr/bin/proxysql -f -c /etc/proxysql.cnf -D /var/lib/proxysql

[Install]
WantedBy=multi-user.target
